
  <!-- The container is used to define the width of the slideshow -->
  <div class="container_banner">
    <div id="slides">

    {% for img in carousel %}
		    <img src="{{img.image.url}}">
		{% endfor %}
    </div>
  </div>
  <!-- End SlidesJS Required: Start Slides -->

  <!-- SlidesJS Required: Link to jQuery -->
  <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
  <!-- End SlidesJS Required -->

  <!-- SlidesJS Required: Link to jquery.slides.js -->
  <script src="{{STATIC_URL}}js/jquery.slides.min.js"></script>
  <!-- End SlidesJS Required -->

  <!-- SlidesJS Required: Initialize SlidesJS with a jQuery doc ready -->
  <script>
 $(function(){ 
  $('#slides').slidesjs({
        width: 185,
        height: 193,
        navigation: false,
        start: 1,
        play: {
          auto: true
        }
  });
  }); 
  </script>

