body {
	background: #efe2ae;
	font-family: Arial,Helvetica,Garuda,sans-serif;
}
p,label {
	font-family: Arial,Helvetica,Garuda,sans-serif;
	color: #330a04;
	font-size: 16px;
}
h1 {
	font-size: 21px;
	color: #330a04;
	text-align: center;
}
#left_part h1 {
	background: url("/static/img/7.png") center bottom no-repeat;
	padding-bottom: 10px;
	margin-bottom: 10px;
	font-size: 21px;
	color: #330a04;
	text-align: center;
}
.container{
	width:1016px;
	margin:0 auto;
}
.container-fluid {
	padding: 0;
}
#header {
	background: url("/static/img/head.png");
	padding-top: 52px;
	padding-bottom: 13px;
}
#block_logo {
	width: 410px;
	text-align: center;
}
#logo {
	border-radius: 15px;
	box-shadow: 0 1px 12px 1px #c06630;
}
#phone {
	background: url("/static/img/1.png") no-repeat;
	height: 165px;
	text-align: center;
	width: 260px;
	margin-top: 18px;
}
#phone p {
	margin-top: 75px;
	color: #390d0c;
	font-size: 23px;
	line-height: 25px;
	padding-bottom: 10px;
	font-family: 'Lobster', cursive;
}
#phone span {
	color: #af0d08;
}
#bron {
	background: url("/static/img/2.png") no-repeat;
	height: 149px;
	text-align: center;
	width: 260px;
}
#bron a {
	margin-top: 86px;
	color: #390d0c;
	font-size: 23px;
	line-height: 25px;
	background: url("/static/img/7.png") center 22px no-repeat;
	padding-bottom: 10px;
	display: inline-block;
	font-family: 'Lobster', cursive;
}
#content{
	background: url('/static/img/content.png');
	margin-left: 0;
	padding-top:25px;
	box-shadow: inset 0px 7px 16px -1px #d48741;
}
#wrap_block img {
	border-style: solid;
	border-width: 17px 17px 17px 18px;
	-moz-border-image: url('/static/img/slide.png') 17 17 17 18 repeat;
	-webkit-border-image: url('/static/img/slide.png') 17 17 17 18 repeat;
	-o-border-image: url('/static/img/slide.png') 17 17 17 18 repeat;
	border-image: url('/static/img/slide.png') 17 17 17 18 repeat;
}
#left_part {
	width: 225px;
}
#left_part img {
	border-style: solid;
	border-width: 17px 17px 17px 18px;
	-moz-border-image: url('/static/img/slide.png') 17 17 17 18 repeat;
	-webkit-border-image: url('/static/img/slide.png') 17 17 17 18 repeat;
	-o-border-image: url('/static/img/slide.png') 17 17 17 18 repeat;
	border-image: url('/static/img/slide.png') 17 17 17 18 repeat;
	width: 194px;
	margin-bottom: 10px;
}
#wrap_block #block_images {
	width: 485px;
	height: 193px;
}
#wrap_block #block_images img{
	width: 485px;
	height: 193px;
}
#block_text {
	width: 508px;
}
#block_text p{
	padding-top: 10px;
	font-family: Arial,Helvetica,Garuda,sans-serif;
}
.right {
	float: right;
}
/*Top block*/
#top_block {
	display: inline-block;
	margin-top:20px;
}
#top_block h3,#top_block h1{
	color:#000000;
}
.soc_networks {
	background: url("/static/img/7.png") center 70px no-repeat;
	padding-bottom: 20px;
	text-align: center;
	padding-top: 10px;
	width:254px!important;
	margin-left:0!important;
}
#IUAfinance46 {
	background: url("/static/img/7.png") center 175px no-repeat;
	padding-bottom: 45px;
}
#login{
	width:200px;
	height:26px;
	background-image: url(/static/img/fon.jpg);
	background-repeat:repeat-x;
	float:right;
	text-align: center;
}
#login a{
	color:white;
	margin:8px 6px;
	text-decoration: underline;
}
#login a:hover{
	text-decoration: none;
}

/*Top block end*/

/*Vertical menu*/
#nav {
	clear: both;
	margin-top: 22px;
	display: inline-block;
	padding-bottom:13px;
}
#nav ul {
	margin: 0;
	padding: 0;
}
#nav ul li{
	display: inline-block;
	background: url("/static/img/li.png");
	height: 43px;
	width: 166px;
	text-align: center;
}
#nav ul li a {
	color: #f4e0ad;
	font-size: 20px;
	padding: 12px 0px;
	display: inline-block;
	width: 100%;
	text-shadow: 1px 0px 4px rgb(94, 8, 8);
	font-family: 'Lobster', cursive;
}
#foto_ex{
	margin:15px;
}
.breadcrumb {
	background: none;
	color: #330a04;
	box-shadow: none;
}
.language {
	float: right;
	color: #330a04;
	margin-right: 35px;
}
.language a{
	color: #330a04;
}
/*Vertical menu end*/

/*Horizontal menu*/
#hmenu{
	margin: 25px auto;
	padding:0px;
}
#hmenu ul{
	margin: 0;
}
#hmenu li {
	display: block;
	font-size:17px;
	padding: 18px 0;
	text-align: center;
	background: url("/static/img/hmenu.png") center bottom no-repeat;
}
#hmenu li div:hover {
	text-decoration: none;
}
#hmenu li span {
	position: relative;
	top: 65px;
}

#hmenu li a {
	text-decoration: none;
	color: #c04c27;
	background: url("/static/img/7.png") center 29px no-repeat;
	padding-bottom: 27px;
	font-family: 'Lobster', cursive;
}
#hmenu li a:hover {
	color:#38150f;
}
#hmenu li div{
	display: inline-table;
	width:110px;
	height:80px;
	background-repeat:no-repeat;
	background-position:center;
	margin: 0;
	text-align: center;
	color:#3333FF;
	text-decoration: underline;
}

#hmenu_top{
	margin: 0 auto;
	width:200px;
	height:30px;
}
#hmenu_top li {
	display: inline;
	font-size:14px;
}
#hmenu_top li a {
	text-decoration: none;
}

#hmenu_top li div{
	display: inline-table;
	width:30px;
	height:30px;
	background-repeat:no-repeat;
	background-position:center;
	margin: 0;
}
#wrap_block {
	background: #eee1ad;
	box-shadow: inset 3px 2px 13px 2px #d38642;
	padding:15px 0;
}
/*Horizontal menu end*/

.page-header {
	border-bottom: none;
}
#slides img {
	float: center;
	height: 193px;
	width: 185px!important;
}
.slidesjs-pagination {
	display: none;
}
.slidesjs-control, .slidesjs-container {
	width: 230px!important;
	height: 232.574468px!important;
}
#myCarousel{
	margin:0;
	margin-bottom:0px;
}
#footer {
	background: url('/static/img/footer.png');
}
footer{
	height: 145px;
	margin:0px;
	padding:8px 0;
}
 
