    <a href="{{ instance.hmenu.url }}">
        {% if instance.hmenu.bg_image %}
           <img src="/media/{{ instance.hmenu.image }}" alt="ic" />
        {% endif %}
        {% if not instance.hmenu.bg_image %}
            <img src="/media/{{ instance.hmenu.image }}" alt="ic" />
        {% endif %}
            
        </a>