{% load cms_tags sekizai_tags %}
{% load i18n %}
{% load menu_tags %}

<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
  <head>
    <meta charset="utf-8">

    <title>{% block title %}{% page_attribute "page_title" %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="{% trans 'Oleh Korkh' %}">
    {% if request.current_page.reverse_id == "main" %}<meta name='yandex-verification' content='556ba491f4cedfdc' />
    <meta name="google-site-verification" content="uL37mOlB-ev6jC_dCrWXREteVXngVyiy4VL50ZWoJUQ" />{% endif %}
    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!--[if gte IE 7]>
      <style type="text/css">
      .photo-gallery {
        display: -moz-inline-stack;
        zoom: 1;
        *display: inline;
        width: 200px;
        display: inline!important;
      }
      .nav ul li {
        display: -moz-inline-stack;
        zoom: 1;
        *display: inline!important;
        width: 115px;
        display: inline;
      }
      </style>
    <![endif]-->
    <!-- The styles -->       
    <script src="{{ STATIC_URL }}js/jquery.js"></script>
    <!--<link rel="stylesheet/less" href="{{ STATIC_URL }}css/style.less">-->
    <link href="{{ STATIC_URL }}css/bootstrap.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/datepicker.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/bootstrap_01.css" rel="stylesheet">
    <!--<script src="{{ STATIC_URL }}js/less.js"></script>-->
    {% render_block "css" %}
    {% block head %}{% endblock %}
    <!-- The fav and touch icons -->
    <link rel="shortcut icon" href="{{ STATIC_URL }}img/favicon.png">

    <script type='text/javascript' src="{{ STATIC_URL }}js/jquery.fancybox.js"></script>  
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/jquery.fancybox.css">
  <link href='http://fonts.googleapis.com/css?family=Lobster&subset=cyrillic,latin' rel='stylesheet' type='text/css'>
    <link href="{{ STATIC_URL }}css/style.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/style.custom.css" rel="stylesheet">
    <script type='text/javascript'>//<![CDATA[
    $(window).load(function(){
        $(document).ready(function(){
        $('.fancybox').fancybox();
        $('.carousel').carousel({
          interval: 2000
        })
        });
        $('.nav-tabs a').click(function (e) {
          e.preventDefault();
          $(this).tab('show');
        })
        $.each($("a"),function(){
          if(this.href=='{{request.build_absolute_uri}}'){
             $(this).addClass('selected');};
        });
    });
    //]]>
    </script> 
    <script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
ga('create', 'UA-42055638-1', 'shale-jazz.com.ua');
ga('send', 'pageview');
</script>
  </head>
  <body>
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-38848313-1']);
  _gaq.push(['_trackPageview']);
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'stats.g.doubleclick.net/dc.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
{% cms_toolbar %}
<div class="wrap">
<div class="container-fluid">
  <div class="hidden-phone hidden-tablet"></div>
    <div class="container">
      <div id="header" class="row-fluid">
        <span class="language">{% language_chooser "menu/language_chooser.html" %}</span>
            <div id="phone" class="span3"><p>{% trans 'more information'%} <br /> <span>+38096 109 10 10</span>
            <br />
            <span>+7 978 873 51 40</span>
            </p></div>
            <div id="block_logo" class="span3"><a href="/"><img src="/static/img/logo.png" alt="logo" id="logo"></a></div>
            <div class="row-fluid span3">
              <div id="bron" class="span1"><a href="/zabronirovat-nomer?preview">{% trans 'book a room'%}</a></div>
              <div class="soc_networks span1">
              {% placeholder horizontal_top_menu_content or %}
                  {% show_placeholder "horizontal_top_menu_content" "main" %}
              {% endplaceholder %}
              </div>
            </div>          
       </div>
       <div class="row-fluid">
          <div id="nav">
             {% block vertical_menu_content%}{% include "vertical_menu_block.html" %}{% endblock %}
         </div>
       </div>
    </div>   
      <div class="row" id="all">  
        <div class="wrap_content">
          <div id="wrap_block" class="row">
            <div class="container">
            <div class="span3">
              <div  id="hmenu" class="nav">
                <ul>
                  {% placeholder nav %}
                </ul>
              </div> 
            </div>
            <div id="block_images" class="span6">
            {% placeholder images or %}
                 {% show_placeholder "images" "main" %}
            {% endplaceholder %}
            </div>
            <div class="span3 right">
            {% placeholder carousel or %}
                 {% show_placeholder "carousel" "main" %}
            {% endplaceholder %}
            </div>
          </div>
          </div>  
      <div>
      
    <div id="content" class="row">
        <div class="container">  
       <div id="left_part" class="span3">  
         <h1>{% page_attribute "page_title" %}</h1>
          {% placeholder img or %}
               {% show_placeholder "img" "main" %}
          {% endplaceholder %}
      </div>

      <div id="block_text" class="span6">
         {% ifnotequal request.current_page.reverse_id "main" %} 
         <div class="breadcrumb"> {% block breadcrumbs %} 
          {% show_breadcrumb 0 "menu/breadcrumb.html" False %} {% endblock %}
           </div>
          {% endifnotequal %} 
         {% if messages %}
          {% for m in messages %}
          <div class="msg-alert alert alert-{% if m.tags == 'error' %}error{% else %}info{% endif %}">
            <a class="close" data-dismiss="alert" href="#">×</a>
            {{ m }}
          </div>
          {% endfor %}
          <script type="text/javascript">
            $('.msg-alert').delay(5000).hide(1);
          </script>
        {% endif %}
           {% block base_content%}{% endblock %}

      {% placeholder bottom_content %}
      </div>
      <div class="span3">
        {% include "widgetShale.html" %}
          
      </div>
    </div>
    </div>
  </div>
</div>
</div> <!-- /container -->
</div>
  {% block footer_content%}{% include "footer_block.html" %}{% endblock %}
<script src="{{ STATIC_URL }}js/bootstrap/bootstrap.js"></script>
<script src="{{ STATIC_URL }}js/bootstrap/bootstrap.js"></script>
<script src="{{ STATIC_URL }}js/bootstrap/bootstrap-datepicker.js"></script>
{% render_block "js" %}
{% block finish %}{% endblock %}
</div>
<!-- Yandex.Metrika counter -->
<script type="text/javascript">
(function (d, w, c) {
(w[c] = w[c] || []).push(function() {
try {
w.yaCounter21637285 = new Ya.Metrika({id:21637285,
webvisor:true,
clickmap:true,
trackLinks:true,
accurateTrackBounce:true});
} catch(e) { }
});
var n = d.getElementsByTagName("script")[0],
s = d.createElement("script"),
f = function () { n.parentNode.insertBefore(s, n); };
s.type = "text/javascript";
s.async = true;
s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";
if (w.opera == "[object Opera]") {
d.addEventListener("DOMContentLoaded", f, false);
} else { f(); }
})(document, window, "yandex_metrika_callbacks");
</script>
<noscript><div><img src="//mc.yandex.ru/watch/21637285" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
</body></html> 