<div id="footer"> 
    <div class="container">
        <footer>
          <div class="page-header"></div>
        <div class="aqua">
        <a href="http://www.aquaweb.com.ua/read/ru/sozdanie-internet-magazina" title="Cоздание сайта" target="_blank">Cоздание сайта 
        <br> <img title="Cоздание сайта" alt="Cоздание сайта" src="/static/img/aqua.png"></a>
        </div>
        </footer>
    </div>
</div>