<script type="text/javascript" src="{{ STATIC_URL }}tilt_gallery/swfobject.js"></script>

    <div id="flashcontent" style="height:500px">TiltViewer requires JavaScript and the latest Flash player. <a href="http://www.macromedia.com/go/getflashplayer/">Get Flash here.</a></div>
<div height="500px">
    <script type="text/javascript">
    
        var fo = new SWFObject("{{ STATIC_URL }}tilt_gallery/TiltViewer.swf", "viewer", "100%", "100%", "9.0.28", "#000000");           
        
        // TILTVIEWER CONFIGURATION OPTIONS
        // To use an option, uncomment it by removing the "//" at the start of the line
        // For a description of config options, go to: 
        // http://www.airtightinteractive.com/projects/tiltviewer/config_options.html
                                                            
        //FLICKR GALLERY OPTIONS
        // To use images from Flickr, uncomment this block
        //fo.addVariable("useFlickr", "true");
        //fo.addVariable("user_id", "48508968@N00");
        //fo.addVariable("tags", "jump,smile");
        //fo.addVariable("tag_mode", "all");
        //fo.addVariable("showTakenByText", "true");        
        
        // XML GALLERY OPTIONS
        // To use local images defined in an XML document, use this block       
        fo.addVariable("useFlickr", "false");
        fo.addVariable("xmlURL", "{% url parse_xml id %}");
        fo.addVariable("maxJPGSize","640");
        
        //GENERAL OPTIONS       
        fo.addVariable("useReloadButton", "false");
        fo.addVariable("columns", "3");
        fo.addVariable("rows", "3");
        //fo.addVariable("showFlipButton", "true");
        //fo.addVariable("showLinkButton", "true");
        //fo.addVariable("linkLabel", "View image info");
        //fo.addVariable("frameColor", "0xff0000");
        fo.addVariable("backColor", "0xeee0ba");
        //fo.addVariable("bkgndInnerColor", "0xFF00FF");
        //fo.addVariable("bkgndOuterColor", "0x0000FF");                
        //fo.addVariable("langAbout", "About"); 
        //fo.addVariable("showFullscreenOption", "true");
        
        //PRO OPTIONS
        fo.addVariable("bkgndTransparent", "true");     
        fo.addVariable("frameWidth", "40");
        fo.addVariable("zoomedInDistance", "1400");
        fo.addVariable("zoomedOutDistance", "5700");
        fo.addVariable("fontName", "Times");
        fo.addVariable("titleFontSize", "90");
        fo.addVariable("descriptionFontSize", "32");
        fo.addVariable("linkFontSize", "41");
        fo.addVariable("linkTarget", "_self");
        fo.addVariable("navButtonColor", "0xc55e0f");
        fo.addVariable("flipButtonColor", "0xff4900");
        fo.addVariable("textColor", "0x000000");
        fo.addVariable("linkTextColor", "0x000000");
        fo.addVariable("linkBkgndColor", "0xFFFFFF");
        fo.addVariable("enableSounds", "true");
        fo.addVariable("tiltAmountIn", "45");
        fo.addVariable("tiltAmountOut", "80");
                

        fo.addParam("wmode", "transparent");
        fo.addVariable("bkgndTransparent", "true");
        // END TILTVIEWER CONFIGURATION OPTIONS
        
        fo.addParam("allowFullScreen","true");
        fo.write("flashcontent");           
    </script>   
</div>