<!-- Gismeteo informer START -->
<link rel="stylesheet" type="text/css" href="http://www.gismeteo.ru/static/css/informer2/gs_informerClient.min.css">
<div id="gsInformerID-06DGOu5l2P8fYd" class="gsInformer" style="width:217px;height:91px">
  <div class="gsIContent">
   <div id="cityLink">
     <a href="http://www.gismeteo.ru/city/daily/13584/" target="_blank">Погода в Курортном</a>
   </div>
   <div class="gsLinks">
     <table>
       <tbody><tr>
         <td>
           <div class="leftCol">
             <a href="http://www.gismeteo.ru/" target="_blank">
               <img alt="Gismeteo" title="Gismeteo" src="{{ STATIC_URL }}img/logo-mini2.png" align="absmiddle" border="0">
               <span>Gismeteo</span>
             </a>
           </div>
           <div class="rightCol">
             <a href="http://www.gismeteo.ru/city/weekly/13584/" target="_blank">Прогноз на 2 недели</a>
           </div>
           </td>
        </tr>
      </tbody></table>
    </div>
  </div>
</div>
<script src="http://www.gismeteo.ru/ajax/getInformer/?hash=06DGOu5l2P8fYd" type="text/javascript"></script>
<!-- Gismeteo informer END -->

<p><style>
.gsInformer { width: 217px!important; }
#IUAfinance46 { min-width: 175px; width: 217px; cursor: pointer;}
#IUAfinance46 * {margin: 0; padding: 0;}
#IUAfinance46 .content {overflow: hidden; padding: 4px; font-family: Arial; font-size: 10px; color: #000000; background: #fff099; border: 1px solid #00529c;}
#IUAfinance46 h1 {overflow: hidden; margin-top: -4px; font-size: 12px; font-weight: bold; height: 20px; line-height: 20px; color: #00529c;}
#IUAfinance46 h1 span {float: left; white-space: nowrap;}
#IUAfinance46 h1 i {float: right; display: inline-block; width: 36px; height: 15px; background: url(http://i.i.ua/v2/logo/logo_small_14_black.png) no-repeat 0 1px transparent; opacity: .3;}
#IUAfinance46 a, #IUAfinance46 a:hover {border: none; text-decoration: underline; color: #00529c;}
#IUAfinance46 dl {overflow: hidden; background: #ffffff; padding: 4px; margin-bottom: 4px;}
#IUAfinance46 dl dt {font-weight: bold; font-size: 12px;}
#IUAfinance46 dl dd {clear: left; border-top: 1px dotted #DDD;}
#IUAfinance46 dl span {display: block; float: left; width: 39%; white-space: nowrap; text-align: right;}
#IUAfinance46 dl span.th {width: 22%; text-align: left;}
#IUAfinance46 dl dt span {font-size: 10px; font-weight: normal;}
#IUAfinance46 dl dd span {line-height: 24px; font-size: 20px; font-family: Trebuchet MS;}
#IUAfinance46 dl dd span img {vertical-align: middle; margin-right: 1px;}
</style>
</p><div id="IUAfinance46">
	<div class="content">
		<h1><span><a href="http://finance.i.ua/bank/15/" id="IUAfinance46TitleLink">Курсы валют‚</a></span><i></i></h1>
		<dl id="IUAfinance46Embed"></dl>
		<a href="http://finance.i.ua/">Курсы доллара, евро и рубля по банкам</a>
	</div>
</div>
<script type="text/javascript">
if (typeof(iFinance) == "undefined") {
	if (typeof(iFinanceData) == "undefined") {
		document.write('<scr' + 'ipt src="http://i.i.ua/js/i/finance_informer.js?1" type="text/javascript" charset = "windows-1251"></scr' + 'ipt>');
		iFinanceData = [];
	}
	iFinanceData.push({b:15,c:[840,978,643],enc:2, lang:0,p:'46'});
} else {
	window['oiFinance46'] = new iFinance();
	window['oiFinance46'].gogo({b:15,c:[840,978,643],enc:2, lang:0,p:'46'});
}
</script>
<p></p>
